[submodule "src/bare-metal-programming-guide"]
    path = src/bare-metal-programming-guide
    url = https://github.com/cpq/bare-metal-programming-guide.git
[submodule "src/pid-invertedpendulum"]
    path = src/pid-invertedpendulum
    url = https://github.com/playfultechnology/pid-invertedpendulum.git
[submodule "src/STM32CubeF1"]
    path = src/STM32CubeF1
    url = https://github.com/STMicroelectronics/STM32CubeF1.git
[submodule "src/stm32f1xx_bare_template"]
    path = src/stm32f1xx_bare_template
    url = https://github.com/stuianna/stm32f1xx_bare_template.git
